.mainHome {
    &__faqs {
        @extend %mainHome-sections-detail;
        height: 100%;
        padding: 2rem 1rem 4rem 1rem ;

        .mainHome__faq {
            margin-top: 1rem;
            margin-bottom: 1rem;

            .mainHome__faqs__header {
                display: flex;
                justify-content: space-between; /* Align items to the start and end */
                align-items: center; /* Align items vertically */
         
         svg{
            width: auto
         }

         .faChevronDown {
            transition: transform 0.5s ease; // Agregar transición
        }
        
        .rotate {
            transform: rotate(180deg); // Rotar 180 grados al tener la clase 'rotate'
        }
            }

            

            .mainHome__faqs__question {
                flex: 1; /* Allow question to take up remaining space */

            }

            .mainHome__faqs__answer {
                margin-top: 1rem;
                margin-bottom: 2rem;
                border-top: solid;
            }
        }
    }
}
