.login{
  &__popup{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.262);
    width: 100vw;
    height: 100%;
    max-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

  }
  &__container {
    @extend %forms-container;
    background-color: $color-allWhite;
    padding: 1rem 2rem  ;
    
    &__close__icon {
      z-index: 400;
      // position: absolute;
      margin: -0.6rem -1.5rem 0.5rem;
      margin-left: auto;
      cursor: pointer;
      opacity: .7;
  
      &:hover {
          opacity: 1;
      }
  
      img {
          width: 30px;
          color: black;
      }
  }
  }
      
    &__title {
        margin-bottom: 20px;
        a{
            font-size: $font-large;
            font-weight: 600;
            color: $color-F;
            &:hover {
                transform: scale(1.1);
                color: $color-D;
                text-decoration: none;
                font-weight: 500;
                // box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
              }
        }
      }

    &__submit {
        display: flex;
        flex-direction: column;
        align-items: center;
        &__button {
            @extend %submitButton;
        }
    }
       
}

.input__group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    font-size: $font-medium;
    text-align: left;

    label {
      width: 12rem;
    }
    
    input {
        background-color: $color-white;
        border: solid;
        border-width: 1px;
        border-radius: 0.5rem;
        border-color: $color-midWhite;
        width: 16rem;
        height: 2rem;
        padding-left: 0.5rem;
    }
  }
  
  @media screen and (min-width: 480px) {
    .input__group {
      flex-direction: row;
    }
  
  }